PORT=
DATABASE_URL=""
BASE_URL_FE=""

#jwt
JWT_SECRET=""
JWT_SECRET_REFRESH=""
JWT_SECRET_RESET=""

#mail
MAIL_USER=""
MAIL_PASS=""

#cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

GOOGLE_CALLBACK_URL=